.todoList{
    margin-left: 650px
}

.checkBox{
    display: inline-block;
    background-color: black;
}

.buttonDelete{
    margin-left: 10px;
}

h1{
    margin-left: 200px;
}

h3{
    margin-left: 10px;
}

.divList{
    margin-left: auto;
}